#nome{
    background-color: #160727;
    font-size: 70px;
    color: #00eb84;
    display: flex;
    justify-content: center;
    font-family: 'Dela Gothic One', cursive;
    margin: 0;
}

a{
    color: #00eb84;
    text-decoration: none;
    text-shadow: 0.1em 0.1em 0.3em rgba(0, 0, 0, 0.411);
}


body{
    background-color: #ffffff ;
    margin: 0px;
}

ul {
    display: flex;
    justify-content: center;
    margin: 0;
    text-decoration: none;
}

li{
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding: 146px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

#menu{
    background-color: #160727;
    background-image: linear-gradient(to bottom white, #103cee78);
}

#clientes{
    margin-left: 50px;
    margin-right: 50px;
}

#resumo{
    font-family: 'Dela Gothic One', cursive;
    justify-content: center;
    margin-bottom: 40px;

}

main{
    font-family: 'Montserrat', sans-serif;
}

#contato{
    letter-spacing: 1px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family: 'Montserrat', sans-serif;
    color: #00eb84;
    margin-left: 350px;
    margin-bottom: 30px
}

#telefone{
    margin-top: 5px
}

#ajuda{
    margin-bottom: 146px;
    display: flex;
    justify-content: center;
    margin-left: 40px;
}

#apresentacao2{
    display: flex;
    justify-content: center;
    max-width: fit-content;
    text-align: center;
    width: 1150px;
    margin-left: 180px;
}

#resumo{
    color: aliceblue;
    background-color: #160727;
    box-shadow: 0 0 0 40px #160727;
    margin-bottom: 0px;
}

#secao{
    box-shadow: 0 10px 0 10px #2a004f;
}

#rodape{
    justify-content: left;
    display: flex;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color:#2a004f;
    background-color: #ffffff;
    box-shadow: 10px 10px 0 10px #2a004f;
    padding: 20px;
    padding-top: 19px;
    padding-bottom: 15px;
}

#copy{
    margin-left: 10px;
    margin-right: 700px;
}

#instalogo{
    width: 50px;
    display: flex;
    justify-items: right;
}

#logo{
    margin-left: 190px;
    width: 50px;
}


.button{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: fixed;
    left: 15px;
    bottom: 15px;
    font-size: 1.1em;
    background-color: #00eb84;
    border-radius: 30px;
    width: 85px;
    height: 50px;
    border: 1px solid #00eb84;
    color: #2a004f;
    font-family: 'Dela Gothic One', cursive;
}

#160727 #00eb84 #2a004f 